.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background-color: #fbfbfb;
  border-radius: 30px;
  padding: 64px;
  /*2rem*/
  min-width: 320px;
  max-width: 90%;
  width: 510px;
  max-height: 90%;
  overflow-y: auto;
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}
