.wrapper {
  position: relative;
  max-width: 226px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-radius: 14px;
  padding: 16px 18px;
  width: 100%;
  background: #54be96;
  outline: none;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #fbfbfb;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.icon {
  pointer-events: none;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 14px;
  max-height: 216px;
  overflow-y: auto;
  z-index: 10;
  margin-top: 8px;
  padding: 14px 18px;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.3);
  cursor: pointer;
}

.list li:hover {
  color: #191a15;
}
