.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  max-width: 438px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #191a15;
}

.subTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input {
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 100%;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #191a15;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.eyeBtn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
}

.eyeIcon {
  display: block;
}

.btn {
  border-radius: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #54be96;
  border: none;
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;

  margin-top: 22px;
}
