.home_page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 80px;
  line-height: 102%;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 20px;

  max-width: 595px;
}

.span {
  font-style: italic;
  color: #54be96;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #191a15;

  max-width: 510px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border-radius: 30px;
  padding: 18px 50px;
  width: 235px;
  height: 60px;
  background: #54be96;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-wrap: nowrap;
}
