.filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 226px;
  margin-bottom: 32px;
}

.label {
  font-size: 14px;
  line-height: 1.29;
  color: #8a8a89;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.loadMoreBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
  border-radius: 30px;
  padding: 14px 48px;
  max-width: 176px;
  height: 48px;
  background: #54be96;
  border: none;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
