header {
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
  padding-top: 38px;
  padding-bottom: 26px;
  margin-bottom: 64px;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #191a15;
}

.logo:hover {
  color: #191a15;
}

.logoSpan {
  color: #54be96;
  font-weight: 700;
}

.navMenu {
  display: flex;
  gap: 40px;
  margin-left: 130px;
}

.navMenuLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #191a15;

  transition: color 0.2s ease;
}

.navMenuLink:hover,
.navMenuLink:focus {
  color: #47a885;
}

.navMenuLink.active {
  color: #54be96;
}

.auth {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.loginBtn,
.logoutBtn {
  border: 1px solid rgba(25, 26, 21, 0.2);
  border-radius: 30px;
  background-color: transparent;
  padding: 14px 39px;
  max-width: 135px;
  /* height: 48px; */

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #191a15;
  text-wrap: nowrap;

  transition: border-color 0.2s ease, background-color 0.2s ease,
    color 0.2s ease;
}

.loginBtn:hover,
.loginBtn:focus {
  border-color: #54be96;
  background-color: rgba(84, 190, 150, 0.08);
  color: #191a15;
}

.loginBtn:active {
  background-color: rgba(84, 190, 150, 0.16);
  border-color: #47a885;
}

.registerBtn {
  border-radius: 30px;
  border: none;
  padding: 14px 40px;
  max-width: 171px;
  /* height: 48px; */
  background-color: #54be96;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-wrap: nowrap;

  transition: color 0.2s ease;
}

.registerBtn:hover,
.registerBtn:focus {
  background-color: #36a379;
}

.registerBtn:active {
  background-color: #54be96;
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.userName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #191a15;
}

.userIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #54be96;
}
