header {
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
  padding: 20px 0;
  margin-bottom: 64px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #191a15;
}

.logo:hover {
  color: #191a15;
}

.logoSpan {
  color: #54be96;
  font-weight: 700;
}

.navMenu {
  display: none;
}

.auth {
  display: none;
}

.userInfo {
  display: none;
}

.burgerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 8px;
  padding: 4px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.burgerBtn:hover,
.burgerBtn:focus {
  background-color: rgba(255, 255, 255, 0.18);
}

.burgerBtn:active {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(0.94);
}

.burgerIcon {
  fill: #54be96;
  transition: fill 0.2s ease;
}

@media (min-width: 768px) {
  .logo {
    font-weight: 600;
    font-size: 20px;
  }

  .rightControls {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .userName {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #191a15;
  }

  .userIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #54be96;
  }
}

@media (min-width: 1280px) {
  .burgerBtn {
    display: none;
  }

  .rightControls {
    display: none;
  }

  header {
    padding: 24px 0;
  }

  .navMenu {
    display: flex;
    gap: 40px;
    margin-left: 130px;
  }

  .navMenuLink {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #191a15;

    transition: color 0.2s ease;
  }

  .navMenuLink:hover,
  .navMenuLink:focus {
    color: #47a885;
  }

  .navMenuLink.active {
    color: #54be96;
  }

  .auth {
    display: flex;
    gap: 8px;
    margin-left: auto;
  }

  .loginBtn,
  .logoutBtn {
    border: 1px solid rgba(25, 26, 21, 0.2);
    border-radius: 30px;
    background-color: transparent;
    padding: 14px 39px;
    max-width: 135px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #191a15;
    text-wrap: nowrap;

    transition: border-color 0.2s ease, background-color 0.2s ease,
      color 0.2s ease;
  }

  .loginBtn:hover,
  .loginBtn:focus,
  .logoutBtn:hover,
  .logoutBtn:focus {
    border-color: #54be96;
    background-color: rgba(84, 190, 150, 0.08);
    color: #191a15;
  }

  .loginBtn:active,
  .logoutBtn:active {
    background-color: rgba(84, 190, 150, 0.16);
    border-color: #47a885;
  }

  .registerBtn {
    border-radius: 30px;
    border: none;
    padding: 14px 40px;
    max-width: 171px;
    background-color: #54be96;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    text-wrap: nowrap;

    transition: color 0.2s ease;
  }

  .registerBtn:hover,
  .registerBtn:focus {
    background-color: #36a379;
  }

  .registerBtn:active {
    background-color: #54be96;
  }

  .desktopRight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }

  .userInfo {
    gap: 14px;
  }

  .userIconWrapper {
    width: 40px;
    height: 40px;
  }
}
