.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  max-width: 438px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #191a15;
}

.subTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
}

.psychologist {
  display: flex;
  align-items: center;
  gap: 14px;
}

.psychologistAvatar {
  width: 44px;
  height: 44px;
  border-radius: 15px;
  object-fit: cover;
}

.psychologistLabel {
  font-size: 12px;
  line-height: 1.33;
  color: #8a8a89;
}

.psychologistName {
  font-size: 16px;
  line-height: 1.5;
  color: #191a15;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 100%;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #191a15;
}

.row {
  display: flex;
  gap: 16px;
}

.half {
  flex: 1;
}

.timeWrapper {
  position: relative;
  flex: 1;
}

.clockIcon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0.5;
  cursor: pointer;
}

.timeDropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  width: 150px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.timeTitle {
  font-size: 16px;
  line-height: 1.5;
  color: #191a15;
  margin-bottom: 16px;
}

.timeDropdown li {
  padding: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(25, 26, 21, 0.3);
  cursor: pointer;
}

.timeDropdown li:hover {
  color: #191a15;
}

.textarea {
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  /* width: 472px; */
  width: 100%;
  height: 116px;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #191a15;
}

.btn {
  border-radius: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #54be96;
  border: none;
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;

  margin-top: 22px;
}
