:root {
  --font-main: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  --text-primary: rgba(25, 26, 21, 0.5);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--text-primary);
  line-height: 1.5;
  background-color: #f3f3f3;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-weight: inherit;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1400px;
    padding: 0 128px;
  }
}
